In [1]:
import pandas as pd
import mdtraj as md

In [2]:
pdb = md.load_pdb('Neutral_Na_Leu.pdb')

In [3]:
pdb

In [4]:
pdb.topology.select('backbone')

array([     0,      4,     17, ..., 259481, 259497, 259498])

In [5]:
backbone_selection = pdb.topology.select('backbone')

In [6]:
Cap_BB_atoms_list_Leu = pd.DataFrame(pdb.topology.select('backbone'))

In [7]:
Cap_BB_atoms_list_Leu

            0
0           0
1           4
2          17
3          18
4          19
...       ...
63595  259478
63596  259479
63597  259481
63598  259497
63599  259498

[63600 rows x 1 columns]

In [8]:
Cap_BB_atoms_list_Leu.to_csv('CapBBatomList.csv', index = False)